helm pull bitnami/zookeeper
tar xvfz zookeeper-9.1.6.tgz

mv zookeeper zookeeper-9.1.6   # 관리를 위해 directory 이름을 version 이름으로 변경

cd zookeeper-9.1.6
cp values.yaml default-values.yaml    # 향후 히스토리 확인을 위해 values 복사



## zookeeper values.yaml 수정

    ## @param replicaCount Number of ZooKeeper nodes
    ##
    replicaCount: 3                   # hdfs, kafka, spark 를 관리 해주기 위해 3개 설정



helm install zookeeper zookeeper-9.1.6 -n zootopia
