helm pull bitnami/kafka
tar xvfz kafka-17.0.0.tgz

mv kafka kafka-17.0.0   # 관리를 위해 directory 이름을 version 이름으로 변경

cd kafka-17.0.0
cp values.yaml default-values.yaml    # 향후 히스토리 확인을 위해 values 복사



## kafka values.yaml 수정

    service:
      ## @param externalAccess.service.type Kubernetes Service type for external access. It can be NodePort or LoadBalancer
      ##
      type: LoadBalancer
      ## @param externalAccess.service.ports.external Kafka port used for external access when service type is LoadBalancer
      ##


helm install kafka kafka-17.0.0 -n zootopia
